* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}
header {
  background-color: lightskyblue;
  height: 100px;
  line-height: 100px;
}
header .logo {
  font-size: 50px;
  color: white;
}
header nav {
  float: right;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  padding-right: 30px;
  font-weight: bold;
  color: white;
  transition: all 0.5s;
}
header nav ul li a:hover {
  text-decoration: none;
  color: red;
}
.slider,
.slider ul,
.slider ul li {
  height: 800px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 50px;
}
.slider h2,
.slider ul h2,
.slider ul li h2 {
  font-weight: bold;
  font-size: 5rem;
}
.slider p,
.slider ul p,
.slider ul li p {
  font-size: 3rem;
}
.slider .slider-carousel,
.slider ul .slider-carousel,
.slider ul li .slider-carousel {
  list-style: none;
}
.slider a {
  padding: 10px 40px;
  background-color: white;
  color: skyblue;
  font-weight: bold;
  border-radius: 8px;
}
.img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/img1food.jpeg);
  background-size: 100% 100%;
}
