/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
html,
body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
body {
  height: 3000px;
}
.secondary {
  background-color: deepskyblue;
  box-shadow: 0px 0px 10px 0px;
  transition: all 0.5s ease-in;
}
hr {
  height: 1px;
  background-color: deepskyblue;
  color: deepskyblue;
  border: none;
  margin-top: 30px;
}
header {
  height: 130px;
  line-height: 130px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.logo {
  padding-top: 5px;
  padding-left: 30px;
  height: 120px;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding-right: 30px;
  font-weight: bold;
  color: white;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 1.2rem;
}
nav ul li a:hover {
  text-decoration: none;
  color: red;
}
label {
  font-size: 26px;
  line-height: 70px;
  display: none;
  float: right;
  padding-right: 20px;
  padding-bottom: 50px;
}
#toggle {
  display: none;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    align-content: center;
  }
  label {
    display: block;
    cursor: pointer;
    position: relative;
    bottom: 100px;
    color: white;
  }
  .menu {
    width: 100%;
    display: none;
    background-color: deepskyblue;
    text-align: center;
  }
  .menu li {
    display: block;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid white;
  }
  #toggle:checked + .menu {
    display: block;
  }
  #toggle:checked + .logo {
    display: none;
  }
  #home {
    border-top: 1px solid white;
    padding-left: 43.352px;
  }
}
.slider,
.slider ul,
.slider ul li {
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 50px;
  object-fit: cover;
}
@media (max-width: 800px) {
  .slider,
  .slider ul,
  .slider ul li {
    line-height: 40px;
  }
}
.slider {
  object-fit: cover;
}
.slider h2 {
  font-weight: bold;
  font-size: 3.3rem;
  padding-top: 250px;
}
@media (max-width: 800px) {
  .slider h2 {
    font-size: 2rem;
    padding-top: 300px;
  }
}
@media (max-width: 500px) {
  .slider h2 {
    padding-top: 200px;
  }
}
.slider p {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .slider p {
    font-size: 1.5rem;
  }
}
.slider .slider-carousel {
  list-style: none;
}
.slider a {
  padding: 10px 40px;
  background-color: white;
  color: deepskyblue;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease-in;
}
.slider a:hover {
  background-color: deepskyblue;
  color: white;
  text-decoration: none;
}
.img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/img1food.jpeg);
  background-size: 100% 100%;
}
@media (max-width: 800px) {
  .img1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/greenjuicepic.jpeg);
  }
}
@media (max-width: 500px) {
  .img1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/iphone\ background.jpg);
  }
}
.img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/image2fitness.jpeg);
  background-size: 100% 100%;
}
@media (max-width: 800px) {
  .img2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/greenjuicepic.jpeg);
  }
}
@media (max-width: 500px) {
  .img2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/iphone\ background.jpg);
  }
}
.img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/img3yoga.jpeg);
  background-size: 100% 100%;
}
@media (max-width: 800px) {
  .img3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/greenjuicepic.jpeg);
  }
}
@media (max-width: 500px) {
  .img3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/iphone\ background.jpg);
  }
}
.slider-content {
  display: none;
}
.information {
  line-height: 50px;
  text-align: center;
  position: relative;
  padding: 100px 0px 0px 0px;
}
.information h3 {
  font-size: 4rem;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 90%;
  padding-left: 5%;
}
@media (max-width: 800px) {
  .information h3 {
    font-size: 3rem;
  }
}
.information p {
  font-size: 2rem;
  max-width: 70%;
  padding-left: 15%;
}
@media (max-width: 800px) {
  .information p {
    max-width: 80%;
    padding-left: 10%;
    font-size: 1.5rem;
  }
}
.information .three {
  padding-bottom: 50px;
}
.information .two li {
  font-size: 2rem;
  max-width: 70%;
  padding-left: 15%;
}
.information .two li span {
  color: deepskyblue;
}
@media (max-width: 800px) {
  .information .two li {
    max-width: 80%;
    padding-left: 10%;
    font-size: 1.5rem;
  }
}
.ourteamtitle {
  font-size: 3rem;
  padding-bottom: 50px;
  text-align: center;
  max-width: 90%;
  padding-left: 5%;
  color: white;
  padding-top: 30px;
}
.ourteam {
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 800px) {
  .ourteam {
    padding-left: 10%;
  }
}
.member {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  margin: 10px;
  padding: 10px;
  width: 45%;
  transition: all 0.3s ease-in;
}
@media (max-width: 800px) {
  .member {
    width: 80%;
  }
}
.member h5 {
  text-align: center;
  color: deepskyblue;
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.member p {
  text-align: center;
}
.profileimg {
  width: 30%;
  height: 300px;
  padding-left: 35%;
}
@media (max-width: 800px) {
  .profileimg {
    width: 50%;
    padding-left: 25%;
  }
}
@media (max-width: 500px) {
  .profileimg {
    width: 60%;
    padding-left: 20%;
  }
}
.member:hover {
  background-color: deepskyblue;
}
.member:hover h5 {
  color: white;
}
.member:hover p {
  color: white;
}
.teampage {
  background-image: url(..//Images/img3yoga.jpeg);
  background-position: center;
  background-attachment: fixed;
}
.contactus {
  text-align: center;
}
.contactus form {
  margin-top: 50px;
}
.contactus form input {
  height: 45px;
}
.contactus form .submit {
  background-color: deepskyblue;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.contact-title {
  text-align: center;
  padding-top: 20px;
  color: deepskyblue;
}
.contact-title h1 {
  font-size: 3rem;
}
.contact-title h2 {
  color: black;
  font-size: 1.5rem;
}
.form-control {
  width: 50%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid deepskyblue;
  font-size: 1.5rem;
  margin-bottom: 16px;
}
form .submit:hover {
  background-color: white;
  color: deepskyblue;
  border-color: transparent;
}
footer p {
  text-align: center;
  padding: 30px 0px 10px 0px;
}
