header {
background-color: lightskyblue; 
height: 100px;
line-height: 100px;  
    .logo {
        font-size: 50px; 
        color: white; 
          
    }
    nav {
    float: right; 
        ul {
            list-style: none; 
            li {
                display: inline-block; 
                a {
                    padding-right: 30px;
                    font-weight: bold; 
                    color: white; 
                    transition: all 0.5s;  
                }
                a:hover {
                    text-decoration: none; 
                    color: red; 
                }
            }
        }
        }}