

.slider, .slider ul, .slider ul li {
    height: 800px; 
    width: 100%; 
    color: white; 
    text-align: center;
    line-height: 50px; 
    h2 {
        font-weight: bold; 
        font-size: 5rem;
  
    }
    p {
        font-size: 3rem; 
    }
    
    .slider-carousel {
        list-style: none; 
    }
}; 

.slider a {
        padding: 10px 40px;
        background-color: white; 
        color: skyblue; 
        font-weight: bold;  
        border-radius: 8px;   
}


.img1 {
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/img1food.jpeg); 
    background-size: 100% 100%; 
}
